body {
  background-color: rgb(238, 238, 204);
  margin: 0;
  padding: 0;
  font-size: 20px;
}

header {
  background-color: #FAF151;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

h1 {
  margin: 0;
}

p {
  text-align: center;
  padding: 10px;
}

img {
  height: 300px;
  width: 250px;
}

#hero {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

#hero-images {
  display: flex;
  gap: 60px;
}

#hero-images img {
  border-radius: 10px;
}

#console-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
}
